.title-wrapper{
    text-align: center;
}

.wrapper{
    display: flex;
    flex-direction: row;
}

.wrapper-left {
    width: 60%;
    float: left;
}

.wrapper-right {
    /* margin-left: 10px; */
    width: 40%;
    float: right;
    text-align: center;
    margin-left: 50px;
}

h1 {
    text-align: left;
}

.div-img{
    display: flex; 
    justify-content: center;
}
