html {
    background-color: black;
    color: orange;
}

.center-nav {
    color: wheat;
    text-align: center;
    display: flex!important;

}

.fa-user{
    color: white;
    padding-top: 10px;
}

.wrapper{
    background-color: black;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 15px;
}

.wrapper-left {
    width: 50%;
    float: left;
}

img {
    width: 352px;
    height: 528px;
    object-fit:cover;
    object-position:25% 40%;
}

.wrapper-right {
    margin-left: 10px;
    width: 50%;
    float: right;
    text-align: center;
}

.wrapper-right h1{
    color: wheat;
}

.btn {
    margin-top: 100px;
}
.time {
    /* display: flex;
    align-items: center */
}