html {
    background-color: black;
    color: orange;
}

.center-nav {
    color: blue;
    text-align: center;
}

.fa-user{
    color: white;
    padding: 20px;
}

.wrapper{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.wrapper-left {
    width: 50%;
    float: left;
}

.wrapper-right {
    width: 50%;
    float: right;
}

img {
    width: 352px;
    height: 528px;
    object-fit:cover;
    object-position:25% 40%;
}