.wrapper{
    background-color: black;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 15px;
}

.wrapper-left {
    width: 50%;
    float: left;
}

img {
    width: 352px;
    height: 528px;
    object-fit:cover;
    object-position:25% 40%;
}

.wrapper-right {
    margin-left: 10px;
    width: 50%;
    float: right;
    text-align: center;
}

.wrapper-right h1{
    color: wheat;
}

#date-header {
    text-align: left;
}

.btn {
    margin-top: 100px;
}
