    <div style="background-color: grey; display: flex; justify-content: center;">
        <br>
        <p style="color: wheat; font-size: 22px; ">10-Hours, we create leaders </p>
    </div>
</body>
</html>