    <footer class="footer bg-dark py-3 mt-auto">
        <div style="display: flex; justify-content: center;">
            <br>
            <p style="color: wheat; font-size: 16px; ">10-Hours, creating leaders... </p>
        </div>    
    </footer>
</body>
</html>