<%- include('layouts/navbar') -%>
<link rel="stylesheet" href="/stylesheets/about.css">
<div class="text-wrapper">
    <h1 id="about">About Us</h1>
    <p><span>10-Hours</span> is a powerful webapp that allows you to track your productivity
        It uses powerul data visualisation tools and metrics to understand your
        output each day. The platform is gamified by having ability to add friends,
        business partners, colleagues to see how productive you are compared to them.
    </p>
    <p>
        Our mission is to create a next generation of leaders by making you reach your
        full potential and become more productive
    </p>
</div>

<%- include('partials/footer') -%>
