<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>10-Hours</title>
    <!-- <link rel="stylesheet" href="../public/stylesheets/home.css" /> -->
    <!-- <link rel="stylesheet" href="/fullStack/10 Hours/public/stylesheets/home.css"> -->
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body>
    <div class="page-wrapper">
        <h1>Home page</h1>
        <a href="/timesheets">Click me</a>
        <h2>Home page2 </h2>
    </div>
</body>
</html>