<%- include('layouts/navbar') -%>
<script type="module" src="/javascript/leaderboard.js"></script>

<h1>Most productive people today:</h1>
<ul id="ul">
    <% console.log(`topUsers is: ${typeof topUsers}`) %>
    <% for(let user of topUsers) { %>
    <li><%= user.name %>: <span><%= user.hours %></span></li>
    <% } %>
</ul>
<button id="btn" role="button">Sort List</button><!-- Use addEventListener instead of onclick as this error is returned Uncaught ReferenceError: sorting is not defined
    at HTMLButtonElement.onclick  -->

<%- include('partials/footer') -%>